{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.0-web/css/all.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>UltraGreen</title>
</head>
<body>
    {% include "top_nav.html" %}

    <div id="main">
        {% include "sidenav.html" %}

        <div id="main2" onclick="CloseNav()">
            <div id="main3">
                <div id="options">
                    <div class="con">
                        <div id="profile">
                            <div id="cam-con">
                                <i class="fa-solid cam fa-camera"></i>
                            </div>
                            <h1 id="user-name">{{request.user}}</h1>
                        </div>
                        <div class="opt">
                            <div class="opt-con">
                                <div class="icon-con" style="background-color: rgb(54, 54, 252);">
                                    <i class="fa-solid icon fa-piggy-bank"></i>
                                </div>

                                <text class="opt-text"><a href={% url "deposit" %} style="text-decoration:none;color:white">
                                    Deposits</text></a>
                            </div>
                        </div>

                        <div class="opt">
                            <div class="opt-con">
                                <div class="icon-con" style="background-color: rgb(205, 20, 205);">
                                    <i class="fa-solid icon fa-money-bills"></i>
                                </div>

                                <text class="opt-text"><a href={% url "withdraw" %} style="text-decoration:none;color:white">
                                    Withdrawals</text></a>
                            </div>
                        </div>

                        <div class="opt">
                            <div class="opt-con">
                                <div class="icon-con" style="background-color: rgb(224, 44, 44);">
                                    <i class="fa-solid icon fa-users"></i>
                                </div>

                                <text class="opt-text"><a href={% url "referrals" %} style="text-decoration:none;color:white">
                                    Referrals</text></a>
                            </div>
                        </div>

                    </div>

                    <div class="con">
                        <div class="opt">
                            <div class="opt-con">
                                <div class="icon-con" style="background-color: rgb(218, 147, 15);">
                                    <i class="fa-solid icon fa-star"></i>
                                </div>

                                <text>Watchlist</text>
                            </div>
                        </div>

                        <div class="opt">
                            <div class="opt-con">
                                <div class="icon-con" style="background-color: rgb(20, 145, 20);">
                                    <i class="fa-solid icon fa-envelope"></i>
                                </div>

                                <text class="opt-text">Update Email
                                </text>
                            </div>
                        </div>

                        <div class="opt">
                            <div class="opt-con">
                                <div class="icon-con" style="background-color: rgb(205, 20, 205);;">
                                    <i class="fa-solid icon fa-user"></i>
                                </div>

                                <text class="opt-text">Update Photo</text>
                            </div>
                        </div>

                        <div class="opt">
                            <div class="opt-con">
                                <div class="icon-con" style="background-color: rgb(54, 54, 252);">
                                    <i class="fa-solid icon fa-lock"></i>
                                </div>

                                <text class="opt-text">Update Password</text>
                            </div>
                        </div>

                        <div class="opt">
                            <div class="opt-con">
                                <div class="icon-con" style="background-color: rgb(205, 20, 205);">
                                    <i class="fa-solid icon fa-gear"></i>
                                </div>

                                <text class="opt-text">Account Settings</text>
                            </div>
                        </div>

                        <div class="opt">
                            <div class="opt-con">
                                <div class="icon-con" style="background-color: rgb(54, 54, 252);">
                                    <i class="fa-solid icon fa-right-from-bracket"></i>
                                </div>

                                <text class="opt-text"><a href={% url "logout" %} style="text-decoration:none;color:white">
                                    Logout</text></a>
                            </div>
                        </div>

                        

                    </div>                    
                </div>


            </div>
        </div>
    </div>

    {% include "bottom_nav.html" %}
</body>
</html>
