<div id="footer-nav">
    <div id="footer-nav-con">
        <a href={% url "dashboard" %} class="footer-link"><i class="fa-solid footer-icon fa-chart-simple"></i>&nbsp;&nbsp;<text class="footer-link-text">Trading</text></a>
        <a href={% url "market" "CRYPTO" %} class="footer-link"><i class="fa-solid footer-icon fa-shop"></i>&nbsp;&nbsp;<text class="footer-link-text">Markets</text></a>
        <a href={% url "mining" %} class="footer-link"><i class="fa-solid footer-icon fa-microchip"></i>&nbsp;&nbsp;<text class="footer-link-text">Mining</text></a>
        <a href={% url "deposit" %} class="footer-link"><i class="fa-solid footer-icon fa-piggy-bank"></i>&nbsp;&nbsp;<text class="footer-link-text">Deposits</text></a>
        <a href={% url "account" %} class="footer-link"><i class="fa-solid footer-icon fa-wallet"></i>&nbsp;&nbsp;<text class="footer-link-text">Account</text></a>
    </div>

</div>