{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/traders.css' %}">
    <link rel="stylesheet" href="{% static 'css/deposit.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.0-web/css/all.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>UltraGreen</title>
</head>
<body>
    <nav id="top-nav">
        <div id="top-nav-con">
            <div id="nav-col1">
                <i class="fa-solid nav-icon fa-bars" onclick="OpenNav()" id="nav-ctrl"></i>&nbsp;&nbsp;&nbsp;&nbsp;<text id="logo">ultra green</text>
            </div>
            
        
            <div id="nav-col2">
                <text id="name">Boss Nigga</text>
                <div id="logout"><i class="fa-solid fa-power-off"></i></div>
            </div>
        </div>
    </nav>

    <div id="main">
        <div id="side-nav">
            <div id="side-nav-con">
                <div id="img-con">
                    <i id="user-img" class="fa-solid fa-user"></i>
                </div>
                
                <text id="user_name">Boss NIgga</text>
            </div>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-house"></i>&nbsp;&nbsp;Home</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user"></i>&nbsp;&nbsp;Account</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-shop"></i>&nbsp;&nbsp;Market</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-money-bill-transfer"></i>&nbsp;&nbsp;Deposits</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-hand-holding-dollar"></i>&nbsp;&nbsp;Withdrawal</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-coins"></i>&nbsp;&nbsp;Buy Coin</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-arrow-up-from-bracket"></i>&nbsp;&nbsp;Upgrade</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-users"></i>&nbsp;&nbsp;Referral</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-power-off"></i>&nbsp;&nbsp;Sign out</a>
        </div>

        <div id="main2" onclick="CloseNav()">
            <div id="main3">
                <label><center>MY MINING CONTRACTS</center></label>
                
               <div id="deposit-history">
                    <a href="#" class="deposit-history">
                        <div class="deposit-history-con">
                            <center><h4>YOU HAVE NO CONTRACT AT THE MOMENT</h4></center>
                        </div>
                    </a>

                    <!--<a href="#" class="deposit-history">
                        <div class="deposit-history-con">
                            <div class="part1">
                                <div class="history-date">
                                    <text class="month">DEC</text>
                                    <text class="date">31</text>
                                </div>

                                <div class="deposit-info">
                                    <text class="amount">$2600</text>
                                    <text class="status">TRADING (PENDING)</text>
                                </div>
                            </div>

                            <text class="coin">2627376383778.76 SOL</text>
                        </div>
                    </a>

                    <a href="#" class="deposit-history">
                        <div class="deposit-history-con">
                            <div class="part1">
                                <div class="history-date">
                                    <text class="month">DEC</text>
                                    <text class="date">31</text>
                                </div>

                                <div class="deposit-info">
                                    <text class="amount">$2600</text>
                                    <text class="status">TRADING (PENDING)</text>
                                </div>
                            </div>

                            <text class="coin">2627376383778.76 SOL</text>
                        </div>
                    </a>-->
               </div>



               <a href="#" class="deposit"><i class="fa-solid fa-circle-plus"></i></a>
    
            </div>
        </div>

    </div>
    
</body>
</html>