<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="fontawesome-free-6.4.0-web/css/all.css">
    <script src="script.js"></script>
    <title>MetaCrest - No.1 Bitcoin Trading Platform</title>
</head>
<body id="body">
    <nav id="top-nav">
        <div id="nav-con">
            <div>
                <i class="fa-solid nav-icon fa-bars" onclick="OpenNav()" id="nav-ctrl"></i>&nbsp;&nbsp;&nbsp;&nbsp;<text id="logo">meta crest</text>
            </div>

            <div id="nav-links">
                <a href="#" class="nav-links">HOME</a>
                <a href="#" class="nav-links">FAQ</a>
                <a href="#" class="nav-links">ABOUT US</a>
                <a href="#" class="nav-links">CONTACT</a>
                <i id="sun" onclick="LightMode()" class="fa-solid nav-icon fa-sun"></i>
                <i id="moon" onclick="DarkMode()" class="fa-solid nav-icon fa-moon"></i>
            </div>
        </div>
    </nav>

    <div id="main">
        <div id="side-nav">
            <div id="side-nav-top">
                <img src="images/download.png">
            </div>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-house"></i>&nbsp;&nbsp;Home</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user"></i>&nbsp;&nbsp;Sign In</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user-plus"></i>&nbsp;&nbsp;Sign Up</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-envelope"></i>&nbsp;&nbsp;Contact Us</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-unlock"></i>&nbsp;&nbsp;Cookie Policy</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-unlock"></i>&nbsp;&nbsp;Privacy Policy</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-server"></i>&nbsp;&nbsp;Crypto Mining</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-copyright"></i>&nbsp;&nbsp;Bitcoin Mining</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-copyright"></i>&nbsp;&nbsp;Dogecoin Mining</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-copy"></i>&nbsp;&nbsp;Copy Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-copyright"></i>&nbsp;&nbsp;Crypto Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-folder"></i>&nbsp;&nbsp;Terms Of Service</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-calendar"></i>&nbsp;&nbsp;Forex Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-square-poll-vertical"></i>&nbsp;&nbsp;Stocks Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-circle-dollar-to-slot"></i>&nbsp;&nbsp;Options Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user-group"></i>&nbsp;&nbsp;What is Leverage</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user-group"></i>&nbsp;&nbsp;Responsible Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-folder"></i>&nbsp;&nbsp;General Risk Disclosure</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user-group"></i>&nbsp;&nbsp;About Us</a>
        </div>

        <div id="main2" onclick="CloseNav()">
            <section id="about">

                <div id="about-con">
                    <h1 id="title">Crypto Trading</h1>

                    <p class="about-article">MetaCrest is excited to announce the launch of our new cryptocurrency trading platform. Now you can start trading Bitcoin, Ethereum and many more cryptocurrencies quickly, easily and safely from wherever you are — in just seconds. You get great margin trading leverage and short sell options with fast deposits and withdrawals. Our support team is available 24/7/365 to help get you trading on our CySEC-regulated platform with a trading volume of US $11 billion monthly.</p>

                    <p class="about-article"><b>What is a crypto currency</b><br>
                        A cryptocurrency like bitcoin is a virtual currency traded peer-to-peer on a blockchain, independent of centralized authorities like banks and governments. Cryptocurrencies are entirely virtual, so they are not backed by physical commodities and have no intrinsic value.
                        </p>

                    <p class="about-article"><b>How Do Cryptocurrencies Work?</b><br>
                        Primarily, cryptocurrencies rely on blockchain technology to complete a transaction via an intricate P2P network. Once a transfer request is entered into the network, it is validated by the network and added to a pool of other transactions to create a block of data for the ledger, which is then entered into the existing blockchain. Once the block is successfully added to the chain, the transaction is approved and completed.</p>

                    <p class="about-article"><b>Are There Investment Opportunities with Cryptocurrencies?</b><br>
                        Absolutely. Cryptocurrencies have become established investment commodities among major financial institutions and have even been adopted by countries such as Australia and Japan. As with any investment though, there are risks linked to market movements, high volatility and economics.</p>

                    

            </section>

            


        </div>


    </div>

    <footer>
        <div id="footer-con">
            <div id="footer-sum">
                <h2>MetaCrest</h2>
                <p class="article">With no commissions and a simple user interface, MetaCrest is the most reliable way to trade for Cryptocurrency.</p>

            </div>


            <div id="footer-links">
                <div class="col">
                    <h3>Explore</h3>
                    <a href="#" class="footer-links">FAQ</a>
                    <a href="#" class="footer-links">About</a>
                    <a href="#" class="footer-links">Contact</a>
                </div>

                <div class="col">
                    <h3>Services</h3>
                    <a href="#" class="footer-links">Copy Trading</a>
                    <a href="#" class="footer-links">Forex Trading</a>
                    <a href="#" class="footer-links">Crypto Trading</a>
                </div>

                <div class="col">
                    <h3>Resource</h3>
                    <a href="#" class="footer-links">Cookie Policy</a>
                    <a href="#" class="footer-links">Privacy Policy</a>
                    <a href="#" class="footer-links">Terms Of Service</a>
                </div>

            </div>
        </div>
    </footer>
</body>
</html>