{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.0-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src="script.js"></script>
    <title>MetaCrest - No.1 Bitcoin Trading Platform</title>
</head>
<body id="body">
    <div id="main">
        <div id="main2" onclick="CloseNav()">
            <form id="form" action={%url 'resetnoww' id %} method="POST" onsubmit="openLoader()">{% csrf_token %}
                <h4 style="color: #0b5747;">please enter your new password and the token sent to your email {{Email}}</h4>
                <label>New Password</label>
                <input placeholder="New Password" type="text"/>

                <label>Confirm New Password</label>
                <input placeholder="Confirm New Password" name="password" type="text"/>

                <label>Token</label>
                <input placeholder="Enter OTP" name=otp type="text"/>

                <input type="submit" id="submit" value="Update"/>
            </form>
        </div>
    </div>
</body>
</html>