{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.0-web/css/all.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    <title>UltraGreen</title>
</head>
<body>
    {% include "top_nav.html" %}

    <div id="main">
        {% include "sidenav.html" %}

        <div id="main2" onclick="CloseNav()">
            <div id="main3">
                <div id="profile" style="background-color: #0f4035">
                    <div id="profile-con" style="background-color: #0f4035">
                        <h4>You may disable NOTIFICATIONS PERMISSION from your browser settings, your browser settings will override the website settings.</h4>

                        <h5>Notifications Permission (Browser): Denied</h5>
                        <label class="label dark">
                            <text class="title">NOTIFICATION</text>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                        </label>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>