<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="fontawesome-free-6.4.0-web/css/all.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="script.js"></script>
    <title>MetaCrest - No.1 Bitcoin Trading Platform</title>
</head>
<body id="body">
    <nav id="top-nav">
        <div id="nav-con">
            <div>
                <i class="fa-solid nav-icon fa-bars" onclick="OpenNav()" id="nav-ctrl"></i>&nbsp;&nbsp;&nbsp;&nbsp;<text id="logo">meta crest</text>
            </div>

            <div id="nav-links">
                <a href="#" class="nav-links">HOME</a>
                <a href="#" class="nav-links">FAQ</a>
                <a href="#" class="nav-links">ABOUT US</a>
                <a href="#" class="nav-links">CONTACT</a>
                <i id="sun" onclick="LightMode()" class="fa-solid nav-icon fa-sun"></i>
                <i id="moon" onclick="DarkMode()" class="fa-solid nav-icon fa-moon"></i>
            </div>
        </div>
    </nav>

    <div id="main">
        <div id="side-nav">
            <div id="side-nav-top">
                <img src="images/download.png">
            </div>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-house"></i>&nbsp;&nbsp;Home</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user"></i>&nbsp;&nbsp;Sign In</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user-plus"></i>&nbsp;&nbsp;Sign Up</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-envelope"></i>&nbsp;&nbsp;Contact Us</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-unlock"></i>&nbsp;&nbsp;Cookie Policy</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-unlock"></i>&nbsp;&nbsp;Privacy Policy</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-server"></i>&nbsp;&nbsp;Crypto Mining</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-copyright"></i>&nbsp;&nbsp;Bitcoin Mining</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-copyright"></i>&nbsp;&nbsp;Dogecoin Mining</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-copy"></i>&nbsp;&nbsp;Copy Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-copyright"></i>&nbsp;&nbsp;Crypto Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-folder"></i>&nbsp;&nbsp;Terms Of Service</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-calendar"></i>&nbsp;&nbsp;Forex Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-square-poll-vertical"></i>&nbsp;&nbsp;Stocks Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-circle-dollar-to-slot"></i>&nbsp;&nbsp;Options Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user-group"></i>&nbsp;&nbsp;What is Leverage</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user-group"></i>&nbsp;&nbsp;Responsible Trading</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-folder"></i>&nbsp;&nbsp;General Risk Disclosure</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user-group"></i>&nbsp;&nbsp;About Us</a>
        </div>

        <div id="main2" onclick="CloseNav()">
             <h1>SIGN UP</h1>
            <form id="form">
               
                <div id="form-con">
                    <div class="input-con">
                        <label class="label">Email</label>
                        <input type="email" class="input-box"/>
                    </div>

                    <div class="input-con">
                        <label class="label">Password</label>
                        <input type="password" class="input-box"/>
                    </div>

                    <div class="input-con">
                        <label class="label">Confirm Password</label>
                        <input type="password" class="input-box"/>
                    </div>

                    <div class="input-con">
                        <label class="label">First Name</label>
                        <input type="text" class="input-box"/>
                    </div>

                    <div class="input-con">
                        <label class="label">Last Name</label>
                        <input type="text" class="input-box"/>
                    </div>

                    <div class="input-con">
                        <label class="label">Mobile Number</label>
                        <input type="tel" class="input-box"/>
                    </div>

                    <div class="input-con">
                        <label class="label">Currency</label>
                    
                        <select class="input-box">
                            <option>USD</option>
                            <option>CAD</option>
                            <option>EUR</option>
                            <option>GBP</option>
                            <option>AUD</option>
                        </select>
                    </div>

                    <div class="input-con">
                        <label class="label">Country</label>
                        <select id="countrySelect" class="input-box">
                            <option>Country</option>
                        </select>
                    </div>

                    <div class="input-con">
                        <label class="label">State</label>
                        <input type="text" class="input-box"/>
                    </div>

                    <div class="input-con">
                        <label class="label">City</label>
                        <input type="text" class="input-box"/>
                    </div>

                    <text><input type="checkbox"/>I Accept All Terms Of Service</text>

                    <input type="submit" id="submit" value="Create My Account">

                    <h4>Already Have An Account? <a href="#">Login</a></h5>


                </div>

            </form>
            


        </div>


    </div>

    <footer>
        <div id="footer-con">
            <div id="footer-sum">
                <h2>MetaCrest</h2>
                <p class="article">With no commissions and a simple user interface, MetaCrest is the most reliable way to trade for Cryptocurrency.</p>

            </div>


            <div id="footer-links">
                <div class="col">
                    <h3>Explore</h3>
                    <a href="#" class="footer-links">FAQ</a>
                    <a href="#" class="footer-links">About</a>
                    <a href="#" class="footer-links">Contact</a>
                </div>

                <div class="col">
                    <h3>Services</h3>
                    <a href="#" class="footer-links">Copy Trading</a>
                    <a href="#" class="footer-links">Forex Trading</a>
                    <a href="#" class="footer-links">Crypto Trading</a>
                </div>

                <div class="col">
                    <h3>Resource</h3>
                    <a href="#" class="footer-links">Cookie Policy</a>
                    <a href="#" class="footer-links">Privacy Policy</a>
                    <a href="#" class="footer-links">Terms Of Service</a>
                </div>

            </div>
        </div>
    </footer>
    <script>
        const selectElement = document.getElementById('countrySelect');
        const apiUrl = 'https://restcountries.com/v3.1/all';

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                const countries = data.map(country => country.name.common);
                countries.sort(); // Sort the country names alphabetically

                countries.forEach(country => {
                    const option = document.createElement('option');
                    option.text = country;
                    selectElement.add(option);
                });
            });
    </script>
</body>
</html>