{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/traders.css' %}">
    <link rel="stylesheet" href="{% static 'css/withdraw.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.0-web/css/all.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>UltraGreen</title>
</head>
<body>
    <nav id="top-nav">
        <div id="top-nav-con">
            <div id="nav-col1">
                <i class="fa-solid nav-icon fa-bars" onclick="OpenNav()" id="nav-ctrl"></i>&nbsp;&nbsp;&nbsp;&nbsp;<text id="logo">ultra green</text>
            </div>
            
        
            <div id="nav-col2">
                <text id="name">Boss Nigga</text>
                <div id="logout"><i class="fa-solid fa-power-off"></i></div>
            </div>
        </div>
    </nav>

    <div id="main">
        <div id="side-nav">
            <div id="side-nav-con">
                <div id="img-con">
                    <i id="user-img" class="fa-solid fa-user"></i>
                </div>
                
                <text id="user_name">Boss NIgga</text>
            </div>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-house"></i>&nbsp;&nbsp;Home</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-user"></i>&nbsp;&nbsp;Account</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-shop"></i>&nbsp;&nbsp;Market</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-money-bill-transfer"></i>&nbsp;&nbsp;Deposits</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-hand-holding-dollar"></i>&nbsp;&nbsp;Withdrawal</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-coins"></i>&nbsp;&nbsp;Buy Coin</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-arrow-up-from-bracket"></i>&nbsp;&nbsp;Upgrade</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-users"></i>&nbsp;&nbsp;Referral</a>
            <a href="#" class="side-nav-link"><i class="fa-solid side-nav-icon fa-power-off"></i>&nbsp;&nbsp;Sign out</a>
        </div>

        <div id="main2" onclick="CloseNav()">
            <div id="main3">
                <select>
                    <option>--SELECT WITHDRAWAL METHOD--</option>
                    <option onclick="BankForm()">BANK</option>
                    <option onclick="CryptoForm()">CRYPTO</option>
                    <option onclick="PaypalForm()">PAYPAL</option>
                    <option onclick="CashappForm()">CASHAPP</option>
                </select>

                <div class="form" id="bank-form">
                    <center><h4 class="form-text">WITHDRAW TO BANK</h4></center>
                    <form class="form-con">
                        <div class="input bank-input">
                            <label>FROM</label>
                            <select class="input-box">
                                <option>Tradig Balance</option>
                                <option>Bitcoin Mining</option>
                            </select>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>

                        <input type="submit" class="submit" value="Submit"/>                        
                    </form>
                </div>

                <div class="form" id="crypto-form">
                    <center><h4 class="form-text">WITHDRAW TO CRYPTO</h4></center>
                    <form class="form-con">
                        <div class="input bank-input">
                            <label>FROM</label>
                            <select class="input-box">
                                <option>Tradig Balance</option>
                                <option>Bitcoin Mining</option>
                            </select>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <select class="input-box">
                                <option>Tradig Balance</option>
                                <option>Bitcoin Mining</option>
                            </select>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>

                    </form>
                </div>

                <div class="form" id="paypal-form">
                    <center><h4 class="form-text">WITHDRAW TO PAYPAL</h4></center>
                    <form class="form-con">
                        <div class="input bank-input">
                            <label>FROM</label>
                            <select class="input-box">
                                <option>Tradig Balance</option>
                                <option>Bitcoin Mining</option>
                            </select>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>


                    </form>
                </div>

                <div class="form" id="cashapp-form">
                    <center><h4 class="form-text">WITHDRAW TO C</h4></center>
                    <form class="form-con">
                        <div class="input bank-input">
                            <label>FROM</label>
                            <select class="input-box">
                                <option>Tradig Balance</option>
                                <option>Bitcoin Mining</option>
                            </select>
                        </div>

                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>


                        <div class="input bank-input">
                            <label>FROM</label>
                            <input class="input-box" type="text"/>
                        </div>


                    </form>
                </div>

    
            </div>
        </div>

    </div>
    
</body>
</html>