{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/withdraw.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.4.0-web/css/all.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>UltraGreen</title>
</head>
<body>
    {% include "top_nav.html" %}

    <div id="main">
        {% include "sidenav.html" %}

        <div id="main2" onclick="CloseNav()">
            <div id="main3">
                <select onchange="selectWithdrawalMethod(this.value)">
                    <option value="" disabled selected>--SELECT WITHDRAWAL METHOD--</option>
                    <option value="bank">BANK</option>
                    <option value="crypto">CRYPTO</option>
                    <option value="paypal">PAYPAL</option>
                    <option value="cashapp">CASHAPP</option>
                </select>

                <div class="form" id="bank-form" >
                    <center><h4 class="form-text">WITHDRAW TO BANK</h4></center>
                    <form class="form-con" id="from17" action={% url 'withdraw' %} method=POST  onsubmit="openLoader()">{%csrf_token%}
                        <h5>We may contact you for additional information.</h5>
                        <div class="input bank-input">
                            <label>From</label>
                            {{form.fromacc}}
                        </div>

                        <div class="input bank-input">
                            <label>Ammount</label>
                            {{form.ammount}}
                        </div>

                        <div class="input bank-input">
                            <label>Account Number</label>
                            {{form.account_number}}
                        </div>

                        <div class="input bank-input">
                            <label>Bank Name</label>
                            {{form.bank_name}}
                        </div>

                        <div class="input bank-input">
                            <label>Account Name</label>
                            {{form.account_name}}
                        </div>

                        <input type="submit" class="submit" value="Submit"/>                        
                    </form>
                </div>

                <div class="form" id="crypto-form">
                    <center><h4 class="form-text">WITHDRAW TO CRYPTO</h4></center>
                    <form class="form-con" id="from31" action={% url 'withdraw' %} method=POST  onsubmit="openLoader()">{%csrf_token%}
                        <div class="input bank-input">
                            <label>FROM</label>
                            {{form.fromacc}}
                        </div>

                        <div class="input bank-input">
                            <label>Crypto Currency</label>
                            {{form.wallet}}
                        </div>

                        <div class="input bank-input">
                            <label>Ammount</label>
                            {{form.ammount}}
                        </div>

                        <div class="input bank-input">
                            <label>Wallet Address</label>
                            {{form.address}}
                        </div>

                        <input type="submit" class="submit" value="Submit"/> 

                    </form>
                </div>

                <div class="form" id="paypal-form" >
                    <center><h4 class="form-text">WITHDRAW TO PAYPAL</h4></center>
                    <form class="form-con" id="from13" action={% url 'withdraw' %} method=POST  onsubmit="openLoader()">{%csrf_token%}
                        <div class="input bank-input">
                            <label>FROM</label>
                            {{form.fromacc}}
                        </div>

                        <div class="input bank-input">
                            <label>Ammount</label>
                            {{form.ammount}}
                        </div>

                        <div class="input bank-input">
                            <label>Paypal Email</label>
                            {{form.paypal}}
                        </div>

                        <input type="submit" class="submit" value="Submit"/> 

                    </form>
                </div>

                <div class="form" id="cashapp-form" >
                    <center><h4 class="form-text">WITHDRAW TO CASHAPP</h4></center>
                    <form class="form-con" id="from1" action={% url 'withdraw' %} method=POST  onsubmit="openLoader()">{%csrf_token%}
                        <div class="input bank-input">
                            <label>FROM</label>
                            {{form.fromacc}}
                        </div>

                        <div class="input bank-input">
                            <label>Ammount</label>
                            {{form.ammount}}
                        </div>

                        <div class="input bank-input">
                            <label>Cashapp Tag</label>
                            {{form.cashapp}}
                        </div>

                        <input type="submit" class="submit" value="Submit"/> 

                    </form>
                </div>

    
            </div>
        </div>

    </div>
  <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'e9eddf5bcef69feb01eb008588105d75c394a474';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>  
</body>
</html>